<!DOCTYPE html>
<html lang="en" ng-app="obbtm" ng-controller="obbtmCtrl">
<head>
    <meta charset="UTF-8">
    <title>OnBBTM</title>
</head>
<body>

    <form ng-if="!register">
        <label>Login: <input ng-model="login"></label>
        <label>Secure Code: <input ng-model="code" type="password"></label>
    </form>
    <button ng-if="register" ng-click="getTLforNT()">NT</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/js.js"></script>
</body>
</html>