<div ng-controller="seasonsNTCtrl" ng-cloak>
    <p>Select a country to follow
        <select ng-model="country">
            <option ng-repeat="country in countries" value="{{country}}">{{country}}</option>
        </select>
        <button ng-click="get()">Get</button>
    </p>

    <table>
        <tr>
            <th ng-click="sortBy('season')">Season</th>
            <th ng-click="sortBy('winRate')">Win Rate</th>
            <th ng-click="sortBy('fieldGoals')">FG</th>
            <th ng-click="sortBy('fieldGoalsAttempts')">FGA</th>
            <th ng-click="sortBy('threePoints')">3FG</th>
            <th ng-click="sortBy('threePointsAttempts')">3FGA</th>
            <th ng-click="sortBy('freeThrows')">FT</th>
            <th ng-click="sortBy('freeThrowsAttempts')">FTA</th>
            <th ng-click="sortBy('offensiveRebounds')">OR</th>
            <th ng-click="sortBy('rebounds')">Reb</th>
            <th ng-click="sortBy('assists')">Ass</th>
            <th ng-click="sortBy('turnovers')">TO</th>
            <th ng-click="sortBy('steals')">Stl</th>
            <th ng-click="sortBy('blocks')">Block</th>
            <th ng-click="sortBy('fouls')">Foul</th>
            <th ng-click="sortBy('points')">Points</th>
        </tr>
        <tr ng-repeat="season in seasons | orderBy:sort:reverse">
            <td>{{season.season}}</td>
            <td>{{season.stat.winRate}}</td>
            <td>{{season.stat.fieldGoals}}</td>
            <td>{{season.stat.fieldGoalsAttempts}}</td>
            <td>{{season.stat.threePoints}}</td>
            <td>{{season.stat.threePointsAttempts}}</td>
            <td>{{season.stat.freeThrows}}</td>
            <td>{{season.stat.freeThrowsAttempts}}</td>
            <td>{{season.stat.offensiveRebounds}}</td>
            <td>{{season.stat.rebounds}}</td>
            <td>{{season.stat.assists}}</td>
            <td>{{season.stat.turnovers}}</td>
            <td>{{season.stat.steals}}</td>
            <td>{{season.stat.blocks}}</td>
            <td>{{season.stat.fouls}}</td>
            <td>{{season.stat.points}}</td>
        </tr>
    </table>
</div>