<div ng-controller="ukrCtrl" ng-cloak>
    <p>Select a country to follow
        <select ng-model="country">
            <option ng-repeat="country in countries" value="{{country}}">{{country.name}}</option>
        </select><button ng-click="reload()">Get</button></p>
    
    <table>
        <tr>
            <th ng-click="sort('name')">Name</th>
            <th ng-click="sort('titles')">Titles</th>
            <th ng-click="sort('finals')">Finals</th>
            <th ng-click="sort('SL')">SL Winners</th>
            <th ng-click="sort('SLF')">SL Finals</th>
            <th ng-click="sort('cup')">Cup Winners</th>
            <th ng-click="sort('cupF')">Cup Finals</th>
        </tr>
        <tr ng-repeat="team in cups">
            <td><a href="{{team.href}}">
                {{team.name}}</a></td>
            <td>{{team.league+team.cup}}</td>
            <td>{{team.leagueFinal+team.cupFinal}}</td>
            <td>{{team.league}}</td>
            <td>{{team.leagueFinal}}</td>
            <td>{{team.cup}}</td>
            <td>{{team.cupFinal}}</td>
        </tr>
    </table>
</div>