<div ng-controller="u21Ctrl" ng-cloak>
    <p>Select a country to follow
        <select ng-model="country">
            <option ng-repeat="country in countries" value="{{country}}">{{country}}</option>
        </select></p>

    <p>To get statistics over the list of games. Put list of game Ids into textarea.</p>
    <textarea ng-model="list"></textarea><button ng-click="stats()">Get</button>

    <p>To get statistics over all history <button ng-click="stats()">Get</button></p>

    <p>To get statistics for the season.
        If you want only official games - mark a checkbox.
        <select ng-model="season">
            <option ng-repeat="obj in seasons()" value="{{obj}}">{{obj}}</option>
        </select>
        <input type="checkbox" ng-init="official=false" ng-model="official">
        <button ng-click="seasonStats(season)">Get</button></p>

    <p>Get statistics against the opponent. If you want only official games - mark a checkbox.
        <select ng-model="opponent">
            <option ng-repeat="country in allCountries" value="{{country}}">{{country}}</option>
        </select>
        <input type="checkbox" ng-model="official">
        <button ng-click="stats('opponent')">Get</button>
    </p>

    <button ng-click="getAverages()">Get Averages</button>
    <!--<button ng-click="getNames()">Get Names</button>-->
    <table >
        <caption>Games</caption>
        <tr>
            <th ng-click="sortBy('date')">Date</th>
            <th ng-click="sortBy('opponent')">Opponent</th>
            <th ng-click="sortBy('gameType')">Type</th>
            <th ng-click="sortBy('result')" colspan="2">Result</th>
            <th ng-click="sortBy('fieldGoals')">FG</th>
            <th ng-click="sortBy('fieldGoalsAttempts')">FGA</th>
            <th ng-click="sortBy('threePoints')">3FG</th>
            <th ng-click="sortBy('threePointsAttempts')">3FGA</th>
            <th ng-click="sortBy('freeThrows')">FT</th>
            <th ng-click="sortBy('freeThrowsAttempts')">FTA</th>
            <th ng-click="sortBy('offensiveRebounds')">OR</th>
            <th ng-click="sortBy('rebounds')">Reb</th>
            <th ng-click="sortBy('assists')">Ass</th>
            <th ng-click="sortBy('turnovers')">TO</th>
            <th ng-click="sortBy('steals')">Stl</th>
            <th ng-click="sortBy('blocks')">Block</th>
            <th ng-click="sortBy('fouls')">Foul</th>
        </tr>
        <tr ng-repeat="game in games | orderBy:gameSort:reverse" ng-style="{'color': game.me==0?(game.score[0]>game.score[1]?'blue':'red'):(game.score[1]>game.score[0]?'blue':'red')}"
            ng-init="team=game.me==0?game.awayTeam:game.homeTeam; opp=game.me==1?game.awayTeam:game.homeTeam">
            <td><a href="http://www.buzzerbeater.com/match/{{game.id}}/boxscore.aspx">{{game.date}}</a></td>
            <td>{{opp.name}}</td>
            <td>{{game.type}}</td>
            <td>{{team.stats.points}}</td>
            <td>{{opp.stats.points}}</td>
            <td>{{team.stats.fieldGoals}}</td>
            <td>{{team.stats.fieldGoalsAttempts}}</td>
            <td>{{team.stats.threePoints}}</td>
            <td>{{team.stats.threePointsAttempts}}</td>
            <td>{{team.stats.freeThrows}}</td>
            <td>{{team.stats.freeThrowsAttempts}}</td>
            <td>{{team.stats.offensiveRebounds}}</td>
            <td>{{team.stats.rebounds}}</td>
            <td>{{team.stats.assists}}</td>
            <td>{{team.stats.turnovers}}</td>
            <td>{{team.stats.steals}}</td>
            <td>{{team.stats.blocks}}</td>
            <td>{{team.stats.fouls}}</td>
        </tr>
        <tr>
            <td colspan="3">Averages</td>
            <td>{{average.points}}</td>
            <td>{{average.pointsAgainst}}</td>
            <td>{{average.fieldGoals}}</td>
            <td>{{average.fieldGoalsAttempts}}</td>
            <td>{{average.threePoints}}</td>
            <td>{{average.threePointsAttempts}}</td>
            <td>{{average.freeThrows}}</td>
            <td>{{average.freeThrowsAttempts}}</td>
            <td>{{average.offensiveRebounds}}</td>
            <td>{{average.rebounds}}</td>
            <td>{{average.assists}}</td>
            <td>{{average.turnovers}}</td>
            <td>{{average.steals}}</td>
            <td>{{average.blocks}}</td>
            <td>{{average.fouls}}</td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td colspan="2">{{average.fieldGoalsPercentage+'%'}}</td>
            <td colspan="2">{{average.threePointsPercentage+'%'}}</td>
            <td colspan="2">{{average.freeThrowsPercentage+'%'}}</td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <table>
        <caption> Game Stats for Offensice Tactic</caption>
        <tr>
            <th ng-click="sortBy('tactic')">Tactic</th>
            <th ng-click="sortBy('games')">Games</th>
            <th ng-click="sortBy('wins')">Wins</th>
            <th ng-click="sortBy('winRate')">Win Rate</th>
            <th ng-click="sortBy('result')" colspan="2">Result</th>
            <th ng-click="sortBy('fieldGoals')">FG</th>
            <th ng-click="sortBy('fieldGoalsAttempts')">FGA</th>
            <th ng-click="sortBy('fieldGoalsPercentage')">FG%</th>
            <th ng-click="sortBy('threePoints')">3FG</th>
            <th ng-click="sortBy('threePointsAttempts')">3FGA</th>
            <th ng-click="sortBy('threePointsPercentage')">3FG%</th>
            <th ng-click="sortBy('freeThrows')">FT</th>
            <th ng-click="sortBy('freeThrowsAttempts')">FTA</th>
            <th ng-click="sortBy('freeThrowsPercentage')">FT%</th>
            <th ng-click="sortBy('offensiveRebounds')">OR</th>
            <th ng-click="sortBy('rebounds')">Reb</th>
            <th ng-click="sortBy('assists')">Ass</th>
            <th ng-click="sortBy('turnovers')">TO</th>
            <th ng-click="sortBy('steals')">Stl</th>
            <th ng-click="sortBy('blocks')">Block</th>
            <th ng-click="sortBy('fouls')">Foul</th>
        </tr>
        <tr ng-repeat="(key, value) in offensiveStats">
            <td>{{key}}</td>
            <td>{{value.games}}</td>
            <td>{{value.wins}}</td>
            <td>{{value.winRate}}</td>
            <td>{{value.points}}</td>
            <td>{{value.pointsAgainst}}</td>
            <td>{{value.fieldGoals}}</td>
            <td>{{value.fieldGoalsAttempts}}</td>
            <td>{{value.fieldGoalsPercentage+'%'}}</td>
            <td>{{value.threePoints}}</td>
            <td>{{value.threePointsAttempts}}</td>
            <td>{{value.threePointsPercentage+'%'}}</td>
            <td>{{value.freeThrows}}</td>
            <td>{{value.freeThrowsAttempts}}</td>
            <td>{{value.freeThrowsPercentage+'%'}}</td>
            <td>{{value.offensiveRebounds}}</td>
            <td>{{value.rebounds}}</td>
            <td>{{value.assists}}</td>
            <td>{{value.turnovers}}</td>
            <td>{{value.steals}}</td>
            <td>{{value.blocks}}</td>
            <td>{{value.fouls}}</td>
        </tr>
    </table>
    <br>
    <br>
    <button ng-init="type='total'" ng-click="type='total'">Total</button>
    <button ng-click="type='game'">Per Game</button>
    <button ng-click="type='min'">Per 48 min</button>
    <table>
        <caption>Players stats{{type=='total'?'':type=='game'?' per game':' per 48 minutes'}}</caption>
        <tr>
            <th ng-click="sortBy('firstName')">Name</th>
            <th ng-click="sortBy('lastName')">Surname</th>
            <th ng-click="sortBy('games')">Games</th>
            <th ng-click="sortBy('minutes')">Minutes</th>
            <th ng-click="sortBy('fieldGoals')">FG</th>
            <th ng-click="sortBy('fieldGoalsAttempts')">FGA</th>
            <th ng-click="sortBy('fieldGoalsPercentage')">FG%</th>
            <th ng-click="sortBy('threePoints')">3FG</th>
            <th ng-click="sortBy('threePointsAttempts')">3FGA</th>
            <th ng-click="sortBy('threePointsPercentage')">3FG%</th>
            <th ng-click="sortBy('freeThrows')">FT</th>
            <th ng-click="sortBy('freeThrowsAttempts')">FTA</th>
            <th ng-click="sortBy('freeThrowsPercentage')">FT%</th>
            <th ng-click="sortBy('plusMinus')">+-</th>
            <th ng-click="sortBy('offensiveRebounds')">OR</th>
            <th ng-click="sortBy('rebounds')">Reb</th>
            <th ng-click="sortBy('assists')">Ass</th>
            <th ng-click="sortBy('turnovers')">TO</th>
            <th ng-click="sortBy('steals')">Stl</th>
            <th ng-click="sortBy('blocks')">Block</th>
            <th ng-click="sortBy('fouls')">Foul</th>
            <th ng-click="sortBy('points')">Points</th>
            <th ng-click="sortBy('doubleDouble')">DoubleDoubles</th>
        </tr>
        <tr ng-repeat="player in type=='total'?players:type=='game'?playersPerGame:playersPerMinutes | orderBy:sort:reverse">
            <td>{{player.firstName}}</td>
            <td><a href="http://www.buzzerbeater.com/player/{{player.id}}/overview.aspx">{{player.lastName}}</a></td>
            <td>{{player.stats.games}}</td>
            <td>{{player.stats.minutes}}</td>
            <td>{{player.stats.fieldGoals}}</td>
            <td>{{player.stats.fieldGoalsAttempts}}</td>
            <td>{{player.stats.fieldGoalsPercentage+'%'}}</td>
            <td>{{player.stats.threePoints}}</td>
            <td>{{player.stats.threePointsAttempts}}</td>
            <td>{{player.stats.threePointsPercentage+'%'}}</td>
            <td>{{player.stats.freeThrows}}</td>
            <td>{{player.stats.freeThrowsAttempts}}</td>
            <td>{{player.stats.freeThrowsPercentage+'%'}}</td>
            <td>{{player.stats.plusMinus}}</td>
            <td>{{player.stats.offensiveRebounds}}</td>
            <td>{{player.stats.rebounds}}</td>
            <td>{{player.stats.assists}}</td>
            <td>{{player.stats.turnovers}}</td>
            <td>{{player.stats.steals}}</td>
            <td>{{player.stats.blocks}}</td>
            <td>{{player.stats.fouls}}</td>
            <td>{{player.stats.points}}</td>
            <td>{{player.stats.doubleDouble}}</td>
        </tr>
    </table>
    <br>
    <table ng-init="modal=false">
        <tr>
            <td>Double-Doubles</td>
            <td>{{doubleDouble.length}}</td>
        </tr>
        <tr>
            <td ng-click="openModal(triplDouble)">Triple-Doubles</td>
            <td>{{triplDouble.length}}</td>
        </tr>
        <tr>
            <td ng-click="openModal(quadroDouble)">Quadrouple-Doubles</td>
            <td>{{quadroDouble.length}}</td>
        </tr>
        <tr>
            <td ng-click="openModal(pentaDouble)">Pentaple-Doubles</td>
            <td>{{pentaDouble.length}}</td>
        </tr>
        <tr>
            <td ng-click="openModal(twenty)">20+20</td>
            <td>{{twenty.length}}</td>
        </tr>
        <tr>
            <td ng-click="openModal(fifth)">4*5 or more</td>
            <td>{{fifth.length}}</td>
        </tr>
    </table>
    <br>
    <table ng-show="modal" id="modal">
        <tr>
            <th>Game</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Minutes</th>
            <th>FG</th>
            <th>FGA</th>
            <th>3FG</th>
            <th>3FGA</th>
            <th>FT</th>
            <th>FTA</th>
            <th>+-</th>
            <th>OR</th>
            <th>Reb</th>
            <th>Ass</th>
            <th>TO</th>
            <th>Stl</th>
            <th>Block</th>
            <th>Foul</th>
            <th>Points</th>
        </tr>
        <tr ng-repeat="data in doubles">
            <td><a href="http://www.buzzerbeater.com/match/{{data.game.id}}/boxscore.aspx">{{data.game.date+" "
                +data.game.season+"season "+(data.game.homeTeam.name===country+"U21"?data.game.awayTeam.name:data.game.homeTeam.name)}}</a></td>
            <td>{{data.player.firstName}}</td>
            <td><a href="http://www.buzzerbeater.com/player/{{data.player.id}}/overview.aspx">{{data.player.lastName}}</a></td>
            <td>{{data.player.stats.minutes}}</td>
            <td>{{data.player.stats.fieldGoals}}</td>
            <td>{{data.player.stats.fieldGoalsAttempts}}</td>
            <td>{{data.player.stats.threePoints}}</td>
            <td>{{data.player.stats.threePointsAttempts}}</td>
            <td>{{data.player.stats.freeThrows}}</td>
            <td>{{data.player.stats.freeThrowsAttempts}}</td>
            <td>{{data.player.stats.plusMinus}}</td>
            <td>{{data.player.stats.offensiveRebounds}}</td>
            <td>{{data.player.stats.rebounds}}</td>
            <td>{{data.player.stats.assists}}</td>
            <td>{{data.player.stats.turnovers}}</td>
            <td>{{data.player.stats.steals}}</td>
            <td>{{data.player.stats.blocks}}</td>
            <td>{{data.player.stats.fouls}}</td>
            <td>{{data.player.stats.points}}</td>
        </tr>
    </table>
    <br>
    <table>
        <caption>Individual Records</caption>
        <tr>
            <th>Stat</th>
            <th>Number</th>
            <th>Player</th>
            <th>Game</th>
        </tr>
        <tr ng-repeat="(key, value) in records">
            <td>{{key}}</td>
            <td>{{value[0].numbers}}</td>
            <td>
                <ul ng-repeat="v in value">
                    <li><a href="http://www.buzzerbeater.com/player/{{v.player.id}}/overview.aspx">{{v.player.firstName+" "+v.player.lastName}}</a></li>
                </ul>
            </td>
            <td>
                <ul ng-repeat="v in value">
                    <li><a href="http://www.buzzerbeater.com/match/{{v.game.id}}/boxscore.aspx">{{v.game.date+" "
                        +v.game.season+"season "+(v.game.homeTeam.name===country+"U21"?v.game.awayTeam.name:v.game.homeTeam.name)}}</a></li>
                </ul>
            </td>
        </tr>
    </table>
</div>