<div ng-controller="teamsCtrl" ng-cloak>
    <p><a href="#!">Back to main</a></p>
    <button ng-click="reload()" ng-disabled="isDisable">Reload Data</button>

    <table>
        <tr>
            <th ng-click="sort('name')">Name</th>
            <th ng-click="sort('owner')">Owner</th>
            <th ng-click="sort('league')">League</th>
            <th ng-click="sort('create')">Created</th>
            <th ng-click="sort('last')">Was online</th>
        </tr>
        <tr ng-repeat="team in cups">
            <td><a href="{{'http://www.buzzerbeater.com/team/'+
                        team.id+'/overview.aspx'}}">
                {{team.name}}</a></td>
            <td>{{team.owner}}</td>
            <td>{{team.league}}</td>
            <td>{{team.create.substring(0,10)}}</td>
            <td>{{team.last.substring(0,10)}}</td>
        </tr>
    </table>
</div>