<div ng-controller="teamsCtrl" ng-cloak>

    <p>Select a country to follow
        <select ng-model="country">
            <option ng-repeat="country in countries" value="{{country}}">{{country.name}}</option>
        </select><button ng-click="reload()">Get</button></p>

    <table>
        <tr>
            <th ng-click="sort('name')">Name</th>
            <th ng-click="sort('owner')">Owner</th>
            <th ng-click="sort('league')">League</th>
            <th ng-click="sort('create')">Created</th>
            <th ng-click="sort('last')">Was online</th>
        </tr>
        <tr ng-repeat="team in cups">
            <td><a href="{{'http://www.buzzerbeater.com/team/'+
                        team.id+'/overview.aspx'}}">
                {{team.name}}</a></td>
            <td>{{team.owner}}</td>
            <td>{{team.league}}</td>
            <td>{{team.create.substring(0,10)}}</td>
            <td>{{team.last.substring(0,10)}}</td>
        </tr>
    </table>
</div>